:root {
    --tile-size: 30vh;
}

#roomContainer {
    position: fixed;
    left: 50vw;
    top: 0;
    transform: translateX(-50%);
    width: 100vh;
    height: 100vh;
}

.roomTileSize {
    width: var(--tile-size);
    height: var(--tile-size);
}

#plyr1BG, #plyr0Status {
    position: fixed;
    top: 10%;
    left: calc(50% - var(--tile-size) / 2);
}

#plyr2BG, #plyr1Status {
    position: fixed;
    top: 34%;
    left: 21.2%;
}

#plyr3BG, #plyr2Status {
    position: fixed;
    top: 34%;
    left: 48.8%;
}

#plyr4BG, #plyr3Status {
    position: fixed;
    top: 58%;
    left: calc(50% - var(--tile-size) / 2);
}

.plyrName {
    font-size: 3.2vh;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.plyrReady {
    font-size: 2vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}

#p0Ready {
    top: 42%;
}

#p0Name {
    top: 27%;
}

.statusButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
}
