{% for plyr in players %}
<table id="{{ plyr.name }}Table">
    <thead>
        <tr>
            <th colspan="2" style="background-color:{{ plyr.color }};">{{ plyr.name }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>VPs: <span id="{{ plyr.name }}VPSpan">0</span></td>
            <td>Roads: <span id="{{ plyr.name }}RoadSpan">15</span></td>
        </tr>
        <tr>
            <td>Hand Size: <span id="{{ plyr.name }}HandSpan">0</span></td>
            <td>Settles: <span id="{{ plyr.name }}SettleSpan">5</span></td>
        </tr>
        <tr>
            <td>Dev Cards: <span id="{{ plyr.name }}DevSpan">0</span></td>
            <td>Cities: <span id="{{ plyr.name }}CitySpan">4</span></td>
        </tr>
        <tr>
            <td>Road Length: <span id="{{ plyr.name }}RoadLengthSpan">0</span></td>
            <td>Army Size: <span id="{{ plyr.name }}ArmySpan">0</span></td>
        </tr>
        {% if plyr.name == cur_plyr_name %}
        <tr>
            <td>Wood: <span id="{{ plyr.name }}WoodSpan">0</span></td>
            <td>Brick: <span id="{{ plyr.name }}BrickSpan">0</span></td>
        </tr>
        <tr>
            <td>Sheep: <span id="{{ plyr.name }}SheepSpan">0</span></td>
            <td>Wheat: <span id="{{ plyr.name }}WheatSpan">0</span></td>
        </tr>
        <tr>
            <td>Stone: <span id="{{ plyr.name }}StoneSpan">0</span></td>
            <td>VPDevs: <span id="{{ plyr.name }}VPDevSpan">0</span></td>
        </tr>
        <tr>
            <td>Knights: <span id="{{ plyr.name }}KnightSpan">0</span></td>
            <td>Road Builders: <span id="{{ plyr.name }}RoadBuilderSpan">0</span></td>
        </tr>
        <tr>
            <td>Plenty: <span id="{{ plyr.name }}PlentySpan">0</span></td>
            <td>Monopoly: <span id="{{ plyr.name }}MonopolySpan">0</span></td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endfor %}
