{% for trans, pid in [('164.83 56.07', port_0), ('432.12 55.15', port_1), ('629.18 170.34', port_2),
                      ('741.28 368.26', port_3), ('615.78 598.58', port_4), ('419.75 714.05', port_5),
                      ('181.65 713.9', port_6), ('50.96 482.89', port_7), ('51.43 258.69', port_8)] -%}
<use width="18.38" height="28.55" transform="translate({{ trans }})" href="{{ pid }}" />
{% endfor %}
