{% for trans, pid in [('741.28 368.26', '#wheatPort'), ('432.12 55.15', '#woodPort'), ('50.96 482.89', '#brickPort'),
                      ('51.43 258.69', '#sheepPort'), ('419.75 714.05', '#stonePort'), ('629.18 170.34', '#anyPort'),
                      ('615.78 598.58', '#anyPort'), ('181.65 713.9', '#anyPort'), ('164.83 56.07', '#anyPort')] -%}
<use width="18.38" height="28.55" transform="translate({{ trans }})" href="{{ pid }}" />
{% endfor %}
