<use width="46" height="46" transform="translate(223.51 180.81)" href="{{ num0_0 }}" />
<use width="46" height="46" transform="translate(351.75 180.81)" href="{{ num0_1 }}" />
<use width="46" height="46" transform="translate(480 180.81)" href="{{ num0_2 }}" />
<use width="46" height="46" transform="translate(159.39 291.87)" href="{{ num1_0 }}" />
<use width="46" height="46" transform="translate(287.63 291.87)" href="{{ num1_1 }}" />
<use width="46" height="46" transform="translate(415.87 291.87)" href="{{ num1_2 }}" />
<use width="46" height="46" transform="translate(544.12 291.87)" href="{{ num1_3 }}" />
<use width="46" height="46" transform="translate(92.96 398.94)" href="{{ num2_0 }}" />
<use width="46" height="46" transform="translate(223.51 402.94)" href="{{ num2_1 }}" />
<use width="46" height="46" transform="translate(351.75 402.94)" href="{{ num2_2 }}" />
<use width="46" height="46" transform="translate(480 402.94)" href="{{ num2_3 }}" />
<use width="46" height="46" transform="translate(608.24 402.94)" href="{{ num2_4 }}" />
<use width="46" height="46" transform="translate(158.99 513.6)" href="{{ num3_0 }}" />
<use width="46" height="46" transform="translate(287.63 514)" href="{{ num3_1 }}" />
<use width="46" height="46" transform="translate(415.87 514)" href="{{ num3_2 }}" />
<use width="46" height="46" transform="translate(544.12 514)" href="{{ num3_3 }}" />
<use width="46" height="46" transform="translate(223.51 625.06)" href="{{ num4_0 }}" />
<use width="46" height="46" transform="translate(351.75 625.06)" href="{{ num4_1 }}" />
<use width="46" height="46" transform="translate(480 625.06)" href="{{ num4_2 }}" />
