.font15px {font-size: 15px;}
.font17px {font-size: 17px;}
.font32px {font-size: 32px;}

.stroke2px {stroke-width: 2px;}
.stroke7px {stroke-width: 7px;}
.blckStrk {stroke: #000000;}

.bgColor {fill: #C48D2E;}
.brickColor {fill: #BC4D15;}
.desertColor {fill: #BC7739;}
.sheepColor {fill: #81AF07;}
.wheatColor {fill: #F4BB00;}
.treeColor {fill: #357924;}
.stoneColor {fill: #939393;}
.oceanColor {fill: #0E46E6;}

.wheatIcon {fill: #e1a800;}
.brickIcon {fill: #c35b23;}
.cactusIcon {fill: #357924;}
.treeIcon {fill: #3b8428;}
.stoneIcon {fill: #848484;}

.bridgeColor {fill: #C48D2E;}
.mastColor {fill: #000000;}
.boatColor {fill: #C48D2E;}
.wavesColor {fill: #0692EF;}

.whiteFill {fill: #ffffff;}
.redFill {fill: #e00000;}

.hidden {
    display: none;
}

.active_robber {
    stroke: #000000;
    fill: #4d4d4d;
}

.active_path, .active_settle, .active_city {
    stroke: #000000;
}

.selecting {
    stroke: #ffffff;
    fill: none;
}

.selecting:hover {
    fill: #ffffff;
    cursor: pointer;
}

.oceanBg {
    background-color: #0E46E6;
}

#controlDiv {
    display: flex;
    justify-content: center;
}

#buttonBar {
    width: 90vh;
}

table {
    border: 1px solid black;
    margin: 5px;
    background-color: #999999;
}
.active {
    background-color: #ffffff;
}

svg {
    height: 90vh;
    width: 90vh;
}

body {
    margin: 0;
    background-color: #0E46E6;
}

#robWindow {
    background-color: gray;
    padding: 10px;

    position: absolute;
    top: 40vh;
    left: 45vh;
}

#robButtonsDiv {
    display: flex;
    justify-content: center;
}

.offerDiv, .giveDiv, .responseDiv {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #999999;
    display: flex;
    flex-direction: column;
}
.tradeContainer {
    display: flex;
    flex-direction: row;
}

#tradeInput {
    background-color: #999999;
    padding: 5px;
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    position: absolute;
    top: 40vh;
    left: 45vh;
}
.twoSpan {
    grid-column-end: span 2;
}
.startTwo {
    grid-column-start: 2;
}
.startFour {
    grid-column-start: 4;
}
#propButton {
    grid-area: 6 / 3 / 7 / 4;
}

#monopolySelect {
    background-color: #999999;
    display: none;
    padding: 5px;

    position: absolute;
    top: 40vh;
    left: 45vh;
}

#plentySelect {
    background-color: #999999;
    padding: 5px;
    display: none;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;

    position: absolute;
    top: 40vh;
    left: 45vh;
}
#plentySubmitButton {
    grid-column: 1 / span 3;
}
